<!DOCTYPE html>
<head>
    <link rel="stylesheet" type= "text/css" href="../css/add.css">
    <link rel="stylesheet" type= "text/css" href="../css/style.css">
    <script src="https://kit.fontawesome.com/723297a893.js" crossorigin="anonymous"></script>
    <title>ADD</title>
</head>

<body>
<div class="base-container">
    <nav>
        <img src="../img/logov2.svg">
        <u1>
            <li>
                <i class="fas fa-plus-circle"></i>
                <a href="#" class="button">Dodaj przepis</a>
            </li>
            <li>
                <i class="fas fa-search"></i>
                <a href="#" class="button">Znajdź przepis</a>
            </li>
            <li>
                <i class="fas fa-user-friends"></i>
                <a href="#" class="button">Twój profil</a>
            </li>
            <li>
                <i class="fas fa-cog"></i>
                <a href="#" class="button">Wyloguj</a>
            </li>
        </u1>
    </nav>
    <main>
        <header>
            <div class="tekst">
                Dodaj przepis...
            </div>
            <div class="logo">
                <img src="../img/logov3.svg">
            </div>

        </header>
        <section class="add">
            <form class = "name"action="">
                <div id="name">
                    <input type="text" value="Nazwa" name="name" />
                </div>
            </form>
<!-- to bedzie trzeba zmienic, narazie nie wiem jak dodac zdjecie-->
            <form class = "photo" action="">
                <div id="photo">
                    <input type="text" value="Dodaj zdjecie" name="photo" />
                </div>
            </form>

            <form class= "description"action="">
                <div>
                    <input type="text" value="Opis" name="description" />
                </div>
            </form>
            
            <form class="protein"action="">
                <div>
                    <input type="text" value="Białko" name="protein" />
                </div>
            </form>
            <form class="fat"action="">
                <div>
                    <input type="text" value="Tłuszcz" name="fat" />
                </div>
            </form>
            <form class="carbs"action="">
                <div>
                    <input type="text" value="Węglowodany" name="carbs" />
                </div>
            </form>
        

            <form class="products"action="">
                <div>
                    <input type="text" value="Wymień produkty" name="products" />
                </div>
            </form>

            <div class="steps">
                <form class="steps1"action="">
                    <div>
                        <input type="text" value="" name="step1" />
                    </div>
                </form>
                <form class="steps2"action="">
                    <div>
                        <input type="text" value="" name="step2" />
                    </div>
                </form>
            </div>

            <div class="dodaj">
                <button type="submit">Dodaj</button>
            </div>

        </section>
    </main>
</div>

</body>
