.find{
    color: #43A3B4;
    margin: 20px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 4em;
    padding: 2em;
    overflow: hidden;
    height: 80%;
}
section{
    overflow: auto;
    height: 90%;
}

.kcalicon{
    padding: 1em;
    font-size: 2em;
    text-align: center;
}

.find>button{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    border-radius: 27px;
    width: 70%;
    border: none;
    color: #43A3B4;
    margin: 1em;
    line-height: 2.5em;
    outline: 0;
    margin-right: auto;
    margin-left: auto;
}

label{
    font-weight: bold;
}
.steps>.button{
    background-color: #43A3B4;
    border: 1px solid #707070;
    border-radius: 90px;
    border: none;
    height: 5vh;
    width: 5vw;
    color: white;
    margin: 1em;
}

/*slider*/


.containerrr {
    display: flex;
    width: 500px;
    height: 20%;
    margin: auto;
    text-alignt: center;
}

.sliderrr {
    width: 100%;
    height: 20%;
    margin: 0% auto;
}

#start{
    position: relative;
    top: 19px;
}

#start2{
    position: relative;
    top: 19px;
}
#start3{
    position: relative;
    top: 19px;
}
#start4{
    position: relative;
    top: 19px;
}

/* track */
input[type="range"] {
    -webkit-appearance: none !important;
    width: 100%;
    height: 4px;
    background-color: #84C1CB;
    border: none;
    border-radius: 10px;
    margin: auto;
    transition: all 400ms;
    outline:none;
    padding: 0;
    margin: 0;
}


/* thumb */
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none !important;
    transform:scale(0.75);
    width: 30px;
    height: 30px;
    border: 5px solid #43A3B4;
    background-color: white;
    border-radius: 40px;
    transition: all 400ms;
    outline:none
}

/* thumb active */
input[type="range"]::-webkit-slider-thumb:active {
    transform:scale(1);
}

#rangevalue {
    text-align: center;
    font-family: "Quantico", sans-serif;
    font-size: 18px;
    display: block;
    margin: auto;
    padding: 10px 0px;
    width: 100%;
    color: #84C1CB;
}

#rangevalue2 {
    text-align: center;
    font-family: "Quantico", sans-serif;
    font-size: 18px;
    display: block;
    margin: auto;
    padding: 10px 0px;
    width: 100%;
    color: #84C1CB;
}

#rangevalue3 {
    text-align: center;
    font-family: "Quantico", sans-serif;
    font-size: 18px;
    display: block;
    margin: auto;
    padding: 10px 0px;
    width: 100%;
    color: #84C1CB;
}
#rangevalue4 {
    text-align: center;
    font-family: "Quantico", sans-serif;
    font-size: 18px;
    display: block;
    margin: auto;
    padding: 10px 0px;
    width: 100%;
    color: #84C1CB;
}

.sel{
    width: 100%;
    height: 90%;
    border: 1px solid #43A3B4;
    border-radius: 10px;
    outline: 0;
    margin-top: 1em
}

.category>h{
    font-size:2em;
    font-weight: bold;
}

@media only screen and (max-device-width: 420px)
{
    .find{
        display: flex;
        flex-direction: column;
        overflow: auto;
        grid-gap: 1em;
        height: 100%;
    }

    .find>button{
        margin-right: auto;
        margin-left: auto;
        width: 80vw;
        margin-top: 4em;
    }

    .containerrr{
        width: 100%;
    }

    #start{
        position: relative;
        top: 41px;
    }

    #start2{
        position: relative;
        top: 41px;
    }
    #start3{
        position: relative;
        top: 41px;
    }
    #start4{
        position: relative;
        top: 41px;
    }

    .kcalicon{
        padding: 0em;
        text-align: left;
    }

    input[type="range"]{
        height: 10px;
    }

    #rangevalue{
        font-size: 1.5em;
    }
    #rangevalue2{
        font-size: 1.5em;
    }
    #rangevalue3{
        font-size: 1.5em;
    }
    #rangevalue4{
        font-size: 1.5em;
    }
    input[type="range"]::-webkit-slider-thumb {
        width: 60px;
        height: 60px;
        border: 8px solid #43A3B4;

    }
}